.snippetModal{
    border: 1px solid white;
    border-radius: 5px;
    z-index: 9999;
    background-color: #23222B;
    color: #FFFFFF;
    width: 300px;
    max-width: 40%;
    max-height: 200px; 
    overflow-y: auto;
}

.modalHeader{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}

.modalHeader h2{
    font-size: 1.25rem;
    font-weight: bold;
}

.modalHeader .closeModalBtn{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: #FFFFFF;
}

.modalBody{
    padding: 3px 5px;
}

.snippetResult {
    font-size: 16px; 
}

.snippetResult h2 {
    font-size: 20px; 
}
  
/* .snippetResult h3 {
    font-size: 16px;
} */

.snippetResult.selected {
    background-color: rgb(52, 50, 50);
}
